@import "./configs";

.row {
  margin: auto;
  width: 100%;
  max-width: 1120px;
  padding: 0 15px;
  position: relative;
}

.main-nav{
  padding: 2rem 0;

  &__link{
    display: inline-block;
    color: $black-light;
    font-size: 2rem;
    text-decoration: none;

    &:not(:first-child) {
      margin-left: 3rem;
    }

    &:hover{
      text-decoration: underline;
    }

    &--active{
      text-decoration: underline;
    }
  }
}
