$text-color: #cac9ca;

$main: #2f65f5;
$black: #0D0D0D;
$black-light: #24242b;

// fonts
$primary-font: 'Source Code Pro', Helvetica, Arial, sans-serif;
$secondary-font: 'Work Sans', Helvetica, Arial, sans-serif;

$primary-transition: 0.32s ease-out;
$fast-transition: 0.23s cubic-bezier(.165,.84,.44,1);
