@import 'Styles/_configs.scss';
@import 'Styles/helpers/_mixin_core.scss';

.card {
  display: block;
  max-width: 100%;
  width: 32rem;
  height: 32rem;
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem 0 rgba(208, 223, 232, 0.32);
  background: #f1f4f7;
  overflow: hidden;

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform $primary-transition;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover,
  &:focus {
    .card__image {
      transform: scale(1.1);
    }
  }
}
