@import 'Styles/_configs.scss';

.search-form {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 46rem;
  margin-bottom: 4rem;

  &__input {
    display: block;
    width: 100%;
    padding: 1.5rem 5.6rem 1.5rem 2rem;
    font-size: 2rem;
    color: $black;
    border: 2px solid $black-light;
    transition: box-shadow $fast-transition;
    border-radius: .5rem;
    box-shadow: 0 1rem 2rem 0 rgba(208, 223, 232, .32);
    -webkit-appearance: none;

    &:focus {
      box-shadow: 0 1rem 2rem 0 rgba(208, 223, 232, .32), 0 0 0 0.4rem rgba(24,144,255,.2);
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $text-color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $text-color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $text-color;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $text-color;
    }
  }

  &__btn {
    position: absolute;
    width: 2rem;
    height: 100%;
    top: 0;
    right: 2rem;
    background-color: transparent;
    color: $black-light;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
